---
layout: default
---







<!-- --------------------------------------------------------------- -->


<!-- slider -->
<div class="slideshow-container body2 w3-margin-top w3-padding">

  <div class="mySlides fade">
    <div class="slidenumbertext">1 / 3</div>
    <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" style="width:100%">
    <div class="slidetext">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="slidenumbertext">2 / 3</div>
    <img src="https://www.w3schools.com/howto/img_fjords_wide.jpg" style="width:100%">
    <div class="slidetext">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="slidenumbertext">3 / 3</div>
    <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" style="width:100%">
    <div class="slidetext">Caption Three</div>
  </div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<hr>







<!-- Post Grid-->


{% assign rows = paginator.posts.size | divided_by: 3.0 | ceil %}
{% for i in (1..rows) %}
{% assign offset = forloop.index0 | times: 3 %}
<div class="w3-row-padding">
 {% for post in site.posts limit:3 offset:offset %}

 <div class="w3-third w3-container w3-margin-bottom">
  <img src="{{ post.image }}" alt="Norway" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white">
    <p><b>{{ post.title }}</b></p>
    <p>{{ post.meta }}</p>
  </div>
</div>

{% endfor %}
</div>
{% endfor %}


<!-- Pagination -->
<div class="w3-center">

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous w3-button w3-black w3-margin">Previous</a>
    
    {% endif %}
    <span class="page_number w3-margin">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next w3-button w3-black w3-margin">Next</a>
    {% endif %}
  </div>
  
</div>



<!-- Bottom -------------------------------------------------------------- -->



<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
   slides[i].style.display = "none";  
 }
 slideIndex++;
 if (slideIndex> slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 4000); // Change image every 2 seconds
  }

  </script>



  