<!-- Popular posts -->

<div class="w3-container" style="margin-bottom:32px">

  <div class="w3-white w3-margin-top">
    <div class="w3-container w3-black">
      <h4>Popular Posts</h4>
    </div>


    <ul class="w3-ul w3-hoverable w3-white">

     {% for post in site.posts limit:5 %}
  

     <li class="w3-padding-16">
      <img src="{{ post.image }}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
      <span class="w3-large">{{ post.title }}</span>
      <br>
      <span>{{ post.meta }}</span>
    </li>

    {% endfor %}

  </ul>


</div>
<hr>
